services:
  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=biblioteca'
      - 'MYSQL_USER=library-user'
      - 'MYSQL_PASSWORD=080808A'
      - 'MYSQL_ROOT_PASSWORD=40028922'
    ports:
      - '3306:3306'
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'

  rabbitmq:
    image: 'rabbitmq:3-management'
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

volumes:
  mysql-data:
  rabbitmq-data: